body{
    background-color: rgba(200, 105, 238, 0.777);
    background-image: url("O\ LADO\ BOM\ DE\ SER\ GAY.jpg");
    text-align: center;
    display: flex;
    align-items: center;
  height: 100vb;
  background-size: 50%
  ;
  justify-content: center;
}
.cartao{
    width: 50%;
    background-color: rgba(120, 72, 165, 0.748);
    margin: auto;
    border-radius: 15%;
}
img{
    margin-top: 40px;
    width: 350px;
border-radius: 15%;
}
a{
    text-decoration: none;
}
h1{
    color: rgba(135, 2, 2, 0.879);
}
h2{
    color: rgb(63, 15, 82);
}
p{
    color: rgb(138, 29, 239);
}